In [2]:
import numpy as np
import pandas as pd
import matrix_factorization_utilities

In [5]:
rating_df = pd.read_csv('movie_ratings_data_set.csv')

In [6]:
rating_df.head()

   user_id  movie_id  value
0        1        28      4
1        1        26      4
2        1         9      4
3        1         1      4
4        1        14      4

In [7]:
movies_df=pd.read_csv('movies.csv', index_col='movie_id')

In [8]:
movies_df.head()

                          title                 genre
movie_id
1                 The Sheriff 1  crime drama, western
2          The Big City Judge 1           legal drama
3                 The Sheriff 2  crime drama, western
4         Just a Regular Family               reality
5          The Big City Judge 2           legal drama

In [9]:
rating_df= pd.pivot_table(rating_df, index='user_id', columns='movie_id', aggfunc=np.max)

In [15]:
rating_df.head()

         value                                          ...                \
movie_id    1    2    3    4    5   6   7   8    9   10 ...   25   26  27
user_id                                                 ...
1          4.0  NaN  NaN  NaN  NaN NaN NaN NaN  4.0 NaN ...  NaN  4.0 NaN
2          5.0  5.0  NaN  NaN  NaN NaN NaN NaN  NaN NaN ...  NaN  NaN NaN
3          4.0  4.0  5.0  NaN  NaN NaN NaN NaN  NaN NaN ...  NaN  NaN NaN
4          5.0  5.0  NaN  5.0  5.0 NaN NaN NaN  NaN NaN ...  NaN  NaN NaN
5          5.0  NaN  NaN  NaN  NaN NaN NaN NaN  5.0 NaN ...  NaN  NaN NaN


movie_id   28   29  30   31   32   33   34
user_id
1         4.0  NaN NaN  NaN  NaN  NaN  NaN
2         NaN  NaN NaN  3.0  NaN  NaN  4.0
3         NaN  NaN NaN  NaN  NaN  NaN  NaN
4         NaN  NaN NaN  NaN  NaN  NaN  NaN
5         NaN  3.0 NaN  3.0  2.0  5.0  5.0

[5 rows x 34 columns]

In [17]:
U,M=matrix_factorization_utilities.low_rank_matrix_factorization(rating_df.as_matrix(),num_features=15,regularization_amount=1.0)

Optimization terminated successfully.
         Current function value: 312.762757
         Iterations: 1563
         Function evaluations: 2344
         Gradient evaluations: 2344

In [18]:
M = np.transpose(M)

In [19]:
movie_id =5

In [20]:
movie_information = movies_df.loc[5]

In [21]:
print("We are finding movie simillar to this movie:")
print("Movie title: {}".format(movie_information.title))
print("Genre: {}".format(movie_information.genre))

We are finding movie simillar to this movie:
Movie title: The Big City Judge 2
Genre: legal drama

In [22]:
current_movie_features = M[movie_id - 1]

In [23]:
print("The attributes for this movie are:")
print(current_movie_features)

The attributes for this movie are:
[ 0.6655182  -0.82916139 -0.72697674  0.52215399 -0.8482545  -1.84166238
 -0.78719117  0.25967982 -0.11945904  0.11391648 -0.15064774 -0.17666695
 -0.23299691 -0.81292525  1.082787  ]

In [24]:
difference = M- current_movie_features

In [25]:
absolute_dufference =  np.abs(difference)

In [26]:
total_difference = np.sum(absolute_dufference, axis=1)

In [27]:
movies_df['difference_score']= total_difference

In [28]:
sort_movies_list= movies_df.sort_values('difference_score')

In [30]:
print("The five most similar movies are:")
print(sort_movies_list[['title','difference_score']][1:6])

The five most similar movies are:
                             title  difference_score
movie_id
10         Surrounded by Zombies 1          1.872546
9                      Biker Gangs          2.600013
3                    The Sheriff 2          2.695921
24            The Big City Judge 3          2.787909
8         Sci-Fi Murder Detectives          2.822037